* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins', sans-serif;
}

/* 
------COLORS------
BLUE    59D5E0
YELLOW  F5DD61
ORANGE  FAA300
PINK    F4538A
*/

:root {
    --border-blue: #1d777f;
    --main-color: #59D5E0;
    --border-yellow: #c6a919;
    --yellow: #F5DD61;
    --orange: #FAA300;
    --pink: #F4538A;
    --white: #f5f6f9;
    --paragraph: #666;
    --dark: #222;

}

body {
    background: var(--white);
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark);
}

p {
    color: var(--paragraph);
}

.container {
    width: 75%;
    margin: auto;
}

@media(max-width:1500px) {
    .container {
        width: 90%;
    }
}

header {
    background: #fff;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header .top-nav a img 
{
    width: 128px;
}

header .top-nav .logo {
    width: 150px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--border-blue);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

header .top-nav .search input {
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;

}

header .top-nav .search button {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark);
    cursor: pointer;
}

header .top-nav .cart_header {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .top-nav .cart_header i {
    color: var(--dark);
    font-size: 20px;
    border: 1px solid var(--border-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s ease;

}

header .top-nav .cart_header i:hover {
    background-color: var(--main-color);
    color: var(--white);
}


header .top-nav .cart_header .count_item {
    position: absolute;
    background: var(--main-color);
    color: var(--dark);
    font-size: 13px;
    border: 1px solid var(--border-blue);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    transition: 0.3s ease;
    top: -5px;
    right: 0;
}

header .top-nav .cart_header .icon_cart {
    position: relative;
}

header .top-nav .cart_header .total_price p {
    margin-left: 3px;
}

header nav {
    border-top: 1px solid var(--border-blue);
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links ul {
    display: flex;
    gap: 70px;
}

header .links ul li a {
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .links ul li {
    position: relative;
    padding: 20px 0;
    cursor: pointer;
    
}

header .links ul li::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
}

header .links ul li:hover::after,
header .links ul li.active::after {
    width: 100%;
}

header .links .loging_sighnup a {
    color: var(--dark);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
}

/* END OF HEADER */

.cart {
    position: fixed;
    top: 0;
    right: -350px;
    /*to hide it in the right while it is not active*/
    bottom: 0;
    z-index: 1100;
    background: #fff;
    padding: 30px;
    border-left: 1px solid var(--border-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    transition: 0.3s ease;
}

/*To make the cart show when the class has another class "active"*/
.cart.active {
    top: 0;
    right: 0px;
    /*to show it from the right while it is not active*/
    bottom: 0;
}

.cart .top_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .top_cart .close_cart i {
    font-size: 35px;
    cursor: pointer;
}

.cart .top_cart h3 {
    font-size: 18px;
}

.cart .top_cart h3 span {
    font-size: 14px;
    color: var(--paragraph);
    font-weight: normal;
}

.cart .items_in_cart {
    padding: 20px 0;
    height: 100%;
    border-block: 1px solid var(--border-blue);
    /*to make the lines before and after the block*/
    margin-block: 20px;
    /*to make a little space between the block lines and the data around it*/

}

.cart .item_cart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.cart .item_cart img {
    width: 62px
}

.cart .item_cart .content {
    padding: 10px 0
}

.cart .item_cart:last-child {
    margin-bottom: 0;
}

.cart .item_cart h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.cart .item_cart .delete_item {
    border: none;
    outline: none;
}

.cart .item_cart .delete_item i {
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.cart .item_cart .delete_item i:hover {
    color: var(--pink);
    transform: scale(1.2);
}

.bottom_cart .price_cart_total {
    color: var(--main-color);
    margin-bottom: 5px;
}

.cart .button_cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart .button_cart .btn_cart,
.btn_cart_trans_bg {
    border: 2px solid var(--border-blue);
    border-radius: 5px;
    color: var(--dark);
    padding: 8px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

.cart .button_cart .btn_cart:hover {
    background: var(--border-blue);
    color: var(--white)
}

.btn_cart_trans_bg {
    background: transparent;
}

.btn_cart_trans_bg:hover {
    background-color: var(--main-color);
}

/* END OF CART */

/* START OF SLIDER */

.slider .container {
    display: flex;
    justify-content: space-between;
}

.slider .container .slide-swp {
    width: calc(100% - 350px);
    overflow: hidden;
    position: relative;
}

.slider .slide-swp img {
    height: 100%;
    width: 630px;
    object-fit: cover;
    object-position: left top;
}

.slider .side-bar {
    width: 300px;
    background: var(--white);
    display: flex;
    flex-direction: column;
}

.slider .side-bar h2 {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px 15px;
    font-size: 18px;
}

.slider .side-bar a {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
    border-top: 1px solid var(--border-blue);
    transition: 0.3s ease-in-out;
}

.slider .side-bar a:hover {
    color: var(--main-color);

}

.swiper-pagination span {
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--main-color) !important;
}

/* start of features style */

.features {
    margin: 50px 0;

}
.features .container {
    display: flex;
    flex-wrap: wrap;
    /*to make the images go to the next line when the screen is smaller*/
    background-color: var(--white);
    padding: 15px 20px;
    border-radius: 5px;
    justify-content: space-between;
}
.features .container .feature-item {
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.features .container .feature-item img {
    width: 50px;

}

.features .container .feature-item h4 {
    font-size: 15px;
    margin-bottom: 8px;
}

.features .container .feature-item p {
    font-size: 10px
}
/* END FEATURES */

/* START BANNER */
.banner {
    margin: 50px 0;
}

.banner .container {
    display: flex;
    justify-content: space-between;
}

.banner .container .banner-img {
    width: 25%;
    position: relative;
}

.banner .container .banner-img img {
    width: 100%;
    border-radius: 30px;
}

.banner .glass-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.banner .glass-hover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(50deg, transparent 50%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8) 70%, transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    transition: 0.8s;
    cursor: pointer;
}

.banner .banner-img:hover .glass-hover::after {
    background-position: -20%;

}

.banner .banner-img a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* END OF BANNER */
/*****************************************************************************************************************/



/* start of slide sale style */

.slide
{
    margin-bottom: 100px;
}

.top_slide
{
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid #1d777f;
}
.top_slide::after
{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #59D5E0;
}
.top_slide h2
{
    text-transform: capitalize;

}
.top_slide h2 span
{
    font-weight: normal;
}
/* ----------------------------------- */

/* start of peoduct style */
.products
{
    display: flex;
    margin: 0px auto;
}
.product
{
    position: relative;
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid #1d777f;
    border-radius: 5px;
    width: 20%;
    margin-right: 20px;
}
.product .icons
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
}

.product .icons i
{

    color: #222;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #1d777f;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.product:hover .icons
{
    right: 20px;
}
.product .icons i:hover
{
    background-color: #59D5E0;
}

.product .sale_percent
{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: #F4538A;
    color: #fff;
    padding: 4px 12px;
    font-size: 14px;
}
.product .img_product
{
    position: relative; 
    margin-bottom: 30px; 
}
.product .img_product img 
{
width: 100%;
transition: 0.3s ease-in-out;

}
.product .img_product .img_hover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    scale: 0.1;
}
.product:hover .img_product .img_hover
{
    opacity: 1;
    scale: 1;
    
}
.product:hover .img_product img
{
    opacity: 0;
}
.product .name_product a
{
    color: #1d777f;
    
}
.product .name_product a:hover
{
    text-decoration: underline;
}
.price
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.price p
{
    color: #59D5E0;
    font-weight: bold;
}
.price .oldprice
{

    color: #666;
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}

/* end of slide sale style */





/*start of stars style */
.stars
{
    margin: 15px 0px;
}
.stars i
{

    color: #FAA300;
}
/*end of stars style */



/* start of newsletter style */
.newsletter {
    background-color: white;
  }
  .newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
  }
  .newsletter .text {
    width: 50%;
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 20px;
  }
  .newsletter .text img {
    width: 100px;
  }
  .newsletter .text h4 {
    font-size: 28px;
    font-weight: 500px;
  }
  .newsletter .text p {
    margin: 12px 0px;
  }
  .newsletter .text h6 {
    font-size: 20px;
    font-weight: normal;
  }
  .newsletter .newsletter_form {
    width: 40%;
    margin-right: 10px;
    border: 2px solid #59D5E0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .newsletter .newsletter_form input {
    padding: 20px 175px 20px 20px;
    outline: none;
    border: none;
    width: 100%;
  }
  .newsletter .newsletter_form button {
    background-color: #59D5E0;
    outline: none;
    border: none;
    width: 170px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    color: #222;
  }
 
  /* end of newsletter style */


  
/*  start back to top bar style */
.back_to_top {
    background-color: #FAA300;
  }
  .back_to_top p {
    padding: 22px 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
  .back_to_top p a
  {

    color: #222;
  }

/*  end back to top bar style */


/* start footer style */
  
  footer {
    background-color: #FAEA98;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
  }
  footer .container .big_row {
    width: 30%;
    margin: 0px 15px;
  }
  footer .container .big_row img {
    width: 150px;
  }
  footer .container .big_row .hotline {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    gap: 10px;
  }
  footer .container .big_row .hotline i {
    font-size: 60px;
    color: #59D5E0;
  }
  footer .container .big_row .hotline h5 {
    color: #222;
    font-size: 18px;
    margin-bottom: 10px;
  }
  footer .container .big_row .hotline h6 {
    color: #59D5E0;
    font-size: 18px;
  }
  footer .container .big_row p {
    width: 90%;
    color: #56575C;
    font-size: 14px;
    line-height: 1.5;
  }
  footer .row {
    width: 22%;
  }
  footer .row h4 {
    color: #222;
    font-size: 18px;
    margin-bottom: 30px;
  }
  footer .row .links {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  footer .row .links a {
    color: black;
    font-size: 14px;
    margin-bottom: 18px;
    position: relative;
    left: 0;
    transition: all 0.35s ease-in-out;
  }
  footer .row .links a:hover {
    left: 8px;
    color: #59D5E0;
  }
  /* end footer style */

  






/* start of item page  */
/* start of item details page style */
.item
{
    background-color: #fff;
    padding: 50px 0px;
}
.item .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item .img_item
{
    width: 55%;
    margin-right: 40px;

}
.item .img_item .big_img img
{
    width: 100%;
    margin-bottom: 32px;
}
.item .img_item .small_imgs
{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item .img_item .small_imgs img
{
    width: 24%;
    padding-left: 24px;
    margin-left: 5px;

}


.item .details_item
{
    width: 58%;
}
.item .details_item h1
{
    margin-bottom: 30px;
}
.item .details_item h5
{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}
.item .details_item h5 span
{
    color: #59D5E0;

}
.item .details_item .price
{
    justify-content: left;
    margin: 20px 0px;
    gap: 20px;
}
.item .details_item .price p span
{
    font-size: 22px;
    color: #59D5E0;

}
.item .details_item .price .oldprice
{
    display: inline;
    text-decoration: line-through;
}

.item .details_item .text_p
{
    line-height: 1.5;
}
.item .details_item h4
{
    font-size: 20px;
    margin-top: 20px;
}
.item .details_item button
{
    border: none;
    outline: none;
    background-color: #59D5E0;
    color: #222;
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 5px;
    margin: 30px 0px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;

}
.item .details_item button:hover
{
    scale: 1.1;
}


.item .details_item .icons
{
    display: flex;
    gap: 10px;
}
.item .details_item .icons i
{
    width: 50px;
    height: 50px;
    background-color: #efeeee;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #1d777f;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.item .details_item .icons i:hover
{
    background-color: #59D5E0;

}

/* end of item details page style */

/* the start of making the item page responsive: */
@media(max-width:1000px)
{
    .item .container
    {
        flex-direction: column;

    }
    .item .img_item
    {
        margin-bottom: 40px;
    }
    .item .img_item .small_imgs img
    {
        padding-left: 10px;
    }
    .item .container .details_item
    {
        width: 100%;
    }
 
}
@media(max-width:700px)
{
    .item .img_item
    {
        width: 80%;
    } 
}
@media(max-width:500px)
{
    .item .container .details_item h1
    {
        font-size: 20px;
    }
    .item .container .details_item p
    {
        font-size: 14px;
    }
    .item .container .details_item h4
    {
        font-size: 18px;
    }
    .item .container .details_item button
    {
        font-size: 16px;
    }
}
/* the end of making the item page responsive: */
/* end of item page  */





/* start of all products page */
/* start of all products details page style */

.top_page
{
    text-align: center;
    padding: 50px 0px;
}
.top_page h1
{

    color: #59D5E0;
    font-size: 40px;
    margin-bottom: 25px;
}
.top_page p
{
    font-size: 18px;
    width: 60%;
    margin: auto;
    color: #666;
}


.all_products .container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.all_products .container .filter
{
    background-color: #fff;
    width: 288px;
    text-transform: capitalize;
    padding: 20px 25px;
    border: 1px solid #1d777f;
    border-radius: 5px;
}



.all_products .container .filter h4
{

    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-blue);
}

.all_products .container .filter span
{
    font-size: 14px;
    cursor: pointer;

}

.all_products .container .filter .filter_item .item
{

    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px 20px 0px 5px;
    /* padding-top: 20px;
    padding-left: 5px; */
}



.all_products .container .filter input:checked
{
    accent-color: var(--main-color);
}

.all_products .container .products_dev
{
    width: calc(100% - 300px);
    /* margin-bottom: 50px; */
    /* background-color: #F5DD61; */
    /* height: 400px; */
}
.all_products .container .products_dev .row
{
    margin-bottom: 20px;
}




.pagination
{
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #1d777f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-bottom: 40px;
}
.pagination .btn_page
{
    font-size: 22px;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}
.pagination .btn_page:hover
{
    color: #59D5E0;
}
.pagination .num_page
{
    border: 1px solid transparent;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;

}
.pagination .num_page.active,
.pagination .num_page:hover
{
    border: 1px solid #1d777f;
    cursor: pointer;


}

/* end of all products details page style */
/* end of all products page */

